<main class="row">
    <main class="col-sm">
        <div class="parent container-fluid">
            <div class="wallet">
                <div class="wal">
                    <div class="wall">
                        <div>
                            <h6>Total Deposit</h6>
                            <p></p>
                        </div>
                    </div>
                    <div class="wall">
                        <div>
                            <h6>Total Sold Coins</h6>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="wal">
                    <div class="wall">
                        <div>
                            <h6>Total Purchased Coins</h6>
                            <p></p>
                        </div>
                    </div>
                    <div class="wall">
                        <div>
                            <h6>Total Coins</h6>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</main>
