<main class="row">
    <main class="col-sm">
        <div class="container-fluid">
            <div class="parent">
                <div class="right">
                    <div class="navbar navbar-expand-sm container">
                        <button class="navbar-toggler bell" data-toggle="collapse" data-target="#menu">
                            <i class="fa fa-bars but"></i>
                        </button>
                    </div>
                    <div class="headie">
                        <h2>Hi, {{firstName}}</h2>
                    </div>
                </div>
                <div class="" id="menu">
                    <div class="side-bar">
                        <div class="image">
                            <div class="img">{{pic}}</div>
                        </div>
                        <div>
                            <li routerLink="/dashboard">DASHBOARD</li>
                            <li routerLink="/profile">PROFILE</li>
                            <li routerLink="/wallet">WALLET</li>
                            <li routerLink="/capture">CAPTURE</li>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </main>
</main>

<!-- <div class="loader-parent" *ngIf="stopAminie">
    <div class="loader">
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__ball"></div>
    </div>
</div> -->